<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto VueJs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper"
                style="font-family: 'Lilita One'; background-color:#03c6fc;background-image: url(https://www.transparenttextures.com/patterns/60-lines.png);">
                <img src="img/1.png" height="50"><a href="#" class="brand-logo">Theseriesbd</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#dev">Desarrolladores</a></li>
                    <li><a href="#Popular">Populares</a></li>
                    <li><a href="#toprated">Mejor Valoradas</a></li>
                    <li><a href="#onair">Al Aire</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<body style="background-image: url(https://www.transparenttextures.com/patterns/cubes.png);background-color: #327ceb;">
    <main>
        <div class="row">
            <h2 class="center" style="font-family: 'Lilita One';"><a class="white-text" name="Popular">Populares</a>
            </h2>
            <div class="col l3 center" style="padding:2% ; border-radius:2%;" v-for="x in results">
                <div class="card" style="border-radius: 2%;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator " height="210" :src="url_img + x.poster_path">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"
                            style="font-family: 'Roboto Condensed', sans-serif;font-size: medium;">{{x.name}}</span>

                    </div>
                    <div class="card-reveal" style="background-image: url({x.poster_path});">
                        <span class="card-title center grey-text text-darken-4"
                            style="font-family: 'Roboto Condensed', sans-serif;">{{x.name}}<i
                                class="material-icons right">close</i></span>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            {{x.overview}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class=" tiny material-icons">thumbs_up_down</i>Popularidad: {{x.popularity}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class="tiny material-icons left-align">date_range</i> Primera emision:
                            {{x.first_air_date}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class="tiny material-icons left-align">thumb_up</i> Promedio de votos:
                            {{x.vote_average}}</p>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <main2>
        <div class="row">
            <h2 class="center" style="font-family: 'Lilita One';"><a class="white-text" name="toprated">Mejor
                    Valoradas</a></h2>
            <div class="col l3 center" style="padding:2% ; border-radius:5%;" v-for="x in results">
                <div class="card" style="border-radius: 5%;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator " height="210" :src="url_img + x.poster_path">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"
                            style="font-family: 'Roboto Condensed', sans-serif;font-size: medium;">{{x.name}}</span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"
                            style="font-family: 'Roboto Condensed', sans-serif;">{{x.name}}<i
                                class="material-icons right">close</i></span>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            {{x.overview}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class=" tiny material-icons">thumbs_up_down</i> Popularidad: {{x.popularity}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class="tiny material-icons left-align">date_range</i> Primera emision:
                            {{x.first_air_date}}</p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class="tiny material-icons left-align">thumb_up</i> Promedio de votos:
                            {{x.vote_average}}</p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main2>
    <main3>
        <div class="row">
            <h2 class="center" style="font-family: 'Lilita One';"><a class="white-text" name="onair">Al Aire</a></h2>
            <div class="col l3 center" style="padding:2% ; border-radius:5%;" v-for="x in results">
                <div class="card" style="border-radius: 5%;">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator " height="210" :src="url_img + x.poster_path">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"
                            style="font-family: 'Roboto Condensed', sans-serif;font-size: medium;">{{x.name}}</span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"
                            style="font-family: 'Roboto Condensed', sans-serif;">{{x.name}}<i
                                class="material-icons right">close</i></span>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            {{x.overview}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class=" tiny material-icons">thumbs_up_down</i> Popularidad: {{x.popularity}}
                        </p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class="tiny material-icons left-align">date_range</i> Primera emision:
                            {{x.first_air_date}}</p>
                        <p style="font-family: 'Roboto Condensed', sans-serif;">
                            <i class="tiny material-icons left-align">thumb_up</i> Promedio de votos:
                            {{x.vote_average}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main3>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
  </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        new Vue({
            el: 'main',
            data: {
                url: 'https://api.themoviedb.org/3/tv/popular?api_key=ba32643fe7bed460ef77e08cce060677&language=es-ES&page=2',
                url_img: 'https://image.tmdb.org/t/p/w500',
                tv: {},
                results: ['8']
            },
            created() {
                this.carga();
            },
            mounted() {

            },
            methods: {
                carga: async function () {
                    this.tv = await axios.get(this.url);
                    this.results = this.tv.data.results;

                }
            }
        });
    </script>
    <script>
        new Vue({
            el: 'main2',
            data: {
                url: 'https://api.themoviedb.org/3/tv/top_rated?api_key=ba32643fe7bed460ef77e08cce060677&language=es-ES&page=1',
                url_img: 'https://image.tmdb.org/t/p/w500',
                tvtop: {},
                results: []
            },
            created() {
                this.carga();
            },
            mounted() {
                //  this.carga();
            },
            methods: {
                carga: async function () {
                    this.tvtop = await axios.get(this.url);
                    this.results = this.tvtop.data.results;
                    //console.log(x.data);
                }
            }
        });
    </script>
    <script>
        new Vue({
            el: 'main3',
            data: {
                url: 'https://api.themoviedb.org/3/tv/on_the_air?api_key=ba32643fe7bed460ef77e08cce060677&language=es-ES&page=1',
                url_img: 'https://image.tmdb.org/t/p/w500',
                tvon: {},
                results: []
            },
            created() {
                this.carga();
            },
            mounted() {
                //  this.carga();
            },
            methods: {
                carga: async function () {
                    this.tvon = await axios.get(this.url);
                    this.results = this.tvon.data.results;

                }
            }
        });
    </script>

</body>
<footer class="page-footer"
    style="font-family: 'Lilita One'; background-color:#03c6fc;background-image: url(https://www.transparenttextures.com/patterns/60-lines.png);">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <a name="dev" class="white-text">
                    <h5 class="white-text">Desarrolladores</h5>
                </a>
                <p class="grey-text text-lighten-4"><img src="img/2.png" height="25"> Flavio Acuña.
                </p>
                <p class="grey-text text-lighten-4"><img src="img/2.png" height="25"> Emmanuel Valenzuela</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#Popular">Populares</a></li>
                    <li><a class="grey-text text-lighten-3" href="#toprated">Mejor Valoradas</a></li>
                    <li><a class="grey-text text-lighten-3" href="#onair">Al Aire</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">

        </div>
    </div>
</footer>

</html>